.container{
    height: fit-content;
    width: 100vw;
    background-color: #131313;
}
.newsLetter{
    text-align: center;
    color: #fff;
    padding: 50px 0;
}
.newsLetter h1{
    margin: 0;
}
.inputContainer{
    height: 45px;
    width: 550px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}
.inputContainer input{
    width: 400px;
    height: 100%;
    box-sizing: border-box;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 7px;
    padding-left: 20px;
    font-size: 15px;
    color: #fff;
}
.inputContainer input:focus{
    outline: none;
    border: 1px solid var(--purple);
}
.inputContainer button{
    height: 100%;
    width: 150px;
    background-color: var(--purple);
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    border-radius: 7px;
    letter-spacing: 1px;
}
.copyright{
    color: #fff;
    opacity: 0.5;
    font-size: 14px;
    margin: 0;
    margin-top: 50px;
}
@media (max-width: 500px) {
    .container{
        padding: 0 20px;
        box-sizing: border-box;
    }
    .newsLetter h1{
        font-size: 23px;
    }
    .inputContainer{
        width: 100%;
    }
}